@font-face {
  font-family: 'league-gothic.condensed-regular';
  src: url('../fonts/league-gothic.condensed-regular.eot') ;
}

@font-face {
  font-family: 'league-gothic.regular';
  src: url('../fonts/league-gothic.condensed-regular.eot') ;
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/OpenSans-Light.eot') ;
}

@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url('../fonts/OpenSans-ExtraBold.eot') ;
}

body {
  font-family: 'OpenSans-Light';
}

/*HEADER*/

.menu {
  font-family: 'league-gothic.regular';
  font-size: 28px;
  font-weight: normal;
}

.nav_menu {
  color:#fff;
  display: inline;
  padding-left: 25px;
  margin-left: 292px;
}

.nav_menu li {
  display: inline;
  margin-left: 50px;
}


.nav_menu_footer a {
  color:#fff;
  text-decoration: none;
}

.banner_img {
  left: 616px;
  position: absolute;
  top: -17px;
}

.banner {
  background: black;
  filter: alpha(Opacity=50) ; 
  font-family: 'league-gothic.regular';
  margin-top: 151px;
}

.banner-inner {
  position: relative;
}

.banner_content {
  padding-bottom: 81px;
}

.banner_text p {
  font-size: 18px;
}

.banner_img {
  top: -75px;
}

.content {
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33263a', endColorstr='#745082',GradientType=0 ); /* IE6-9 */
  padding-bottom: 72px;
  height: 300px;
}

/*CONTENT*/

.our_company {
  display: inline;
  font-family: 'league-gothic.regular';
}

.our_company_one p {
  height: 170px;
}

.our_company_two p {
  height: 170px;
}

.our_company_three p {
  height: 170px;
}

.our_company h3 {
  font-size: 20px;
}

.our_company_one a {
  font-size: 17px;
  margin: 15px 0 0 200px;
}

.our_company_two a {
  font-size: 17px;
  margin: 17px 0 0 200px;
}

.our_company_three a {
  font-size: 17px;
  margin: 15px 0 0 200px;
}

.our_company a:hover {
  height: 1em;
  filter:Shadow(Color=#666666,Direction=135,Strength=5);
}

/*.our_company_one h3:before {
  content: url('../img/layer_34.png');
  display: block;
  height: 32px;
  margin-left: .3rem;
  margin-right: 1.5rem;
  margin-top: .2rem;
  vertical-align: middle;
  width: 1.9rem;
}

.our_company_two h3:before {
  background: url('../img/layer_34.png') -32px 0 no-repeat ;
  content: "";
  display: inline-block;
  height: 2rem;
  margin-left: .4rem;
  margin-right: 1.6rem;
  margin-top: .4rem;
  vertical-align: middle;
  width: 1.9rem;
}

.our_company_three h3:before {
  background: url('../img/layer_34.png') -65px 0 no-repeat ;
  content: "";
  display: inline-block;
  height: 2rem;
  margin-left: .6rem;
  margin-right: 1.6rem;
  margin-top: .5rem;
  vertical-align: middle;
  width: 1.9rem;
}*/

.our_company_one h3:hover:before {
  background-position: 0 -33px;
  transition: .1s;
}

.our_company_two h3:hover:before {
  background-position: -32px -33px;
  transition: .1s;
}

.our_company_three h3:hover:before {
  background-position: -65px -33px;
  transition: .1s;
}

.our_company_one {
  margin: 76px 0 0 7px;
}

.our_company_two {
  margin: 76px 0 0 51px;
}

.our_company_three {
  margin: 72px 0 0 49px;
}

.our_company_one,
.our_company_two,
.our_company_three {
  width: 28%;
  float: left;
}

.inform {
  clear: both;
}

.pingbuller {
  float: left;
}

.pingbuller p {
  margin-top: 30px;
}

.head_pingbuller:before {
  float: left;
}

.updates {
  float: left;
}

.labe {
  clear: both;
}

.news {
  padding-bottom: 430px;
}

.kategori_one,
.kategori_two,
.kategori_three {
  width: 28%;
  float: left;
}

/*FOOTER*/

footer {
  clear: both;
}

.nav_menu_footer {
  font-size: 18px;
  padding-bottom: 25px;
}

.designer_by {
  display: inline;
  margin-left: 800px;
}

.designer_by p {
  display: inline;
}